﻿@model StudentScheduler.Models.School

@{
    ViewBag.Title = "Delete School";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gumbotron">
    <h2>Delete School</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-outline-primary" /> 
                @Html.ActionLink("Back to Schools", "Index", null, new { @class = "btn btn-outline-primary" })
            </div>
        }
    </div>
</div>