
﻿@model StudentScheduler.Models.School

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gumbotron">
    <h2>Details</h2>

    <div>
        <h4>School</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

        </dl>
    </div>
    <p>
        @if (User.IsInRole("Administrator") || User.IsInRole("Staff"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) <span> | </span>
        }
        @Html.ActionLink("Back to Schools", "Index")
    </p>
</div>