﻿@model IEnumerable<StudentScheduler.Models.MInfo>
@{
    ViewBag.Title = "Major List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="text-area font-weight-bold" style="font-size: large" >Here are the majors for WOU</div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <!--This will display a message if no results show up-->
    @ViewBag.result
    <div class="row">
        <!--This will show up if there are results-->
        @foreach (var row in Model)
        {
            <div class="container" style="border: ridge; border-color: grey;">
                <!--Displays the names along with a link to a details page-->
                <div class="row" style="padding: 10px;"><a href="@row.hrefLink">@row.Mname</a></div>
            </div>
            <br />
        }
    </div>
}