﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Lato !important;
    background-image: url(https://i.imgur.com/U9GxvO7.png);
    background-repeat: repeat;
    background-size: 1090px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
    /*background-color: #c9edf7;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ff0000;
    align-content: center;
}

.spacer {
    padding-top: 50px;
}

.header-spacer {
    padding-top: 26%;
}

.image-header {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
}

.gumbotron {
    margin-top: 2%;
    padding: 15px;
    margin-bottom: 2rem;
    background-color: #F4FBFD;
    border-right: 10px solid white;
    border-radius: 5px;
}

.sidebar {
    margin-top: 2%;
    padding: 15px;
    margin-bottom: 2rem;
    /*background-color: #e9ecef;*/
    border-left: 10px solid white;
    border-radius: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b9b9b+0,9b9b9b+36,e8e8e8+37,e8e8e8+100 */
    background: #9b9b9b; /* Old browsers */
    background: linear-gradient(to bottom, #5ec6e2 0%,#abe0f3 25%,#e8e8e8 25%,#e8e8e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b9b9b', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
}

.gumbotron p {
    text-indent: 20px;
}

.gumbotron li {
    list-style: none;
}

.sidebar p {
    text-indent: 20px;
}

.gutter {
    margin: 10px;
}

.header {
    font-size: 25px;
    font-style: italic;
}

.sidebar-head {
    padding-bottom: 10px;
}

h2 {
    font-style: italic;
}

/*css code for InfoList.cshtml under Home view */
.major35 {
    background-color: #F4FBFD;
    border: 5px solid #bdebfb;
    border-radius: 7px;
    padding: 15px 15px 15px 15px;
    margin: 10px 40px 40px 40px;
    box-shadow: 10px 10px 20px grey;
}

.major36 {
    background-color: #F4FBFD;
    border: 5px solid #5cbfda;
    border-radius: 7px;
    padding: 15px 15px 15px 15px;
    margin: 10px 40px 40px 40px;
    box-shadow: 10px 10px 20px grey;
}

.major35 a#link {
    font-size: 28px;
}

.infoTitle {
    background-color: #F4FBFD;
    margin-top: 2%;
    padding: 15px;
    margin-bottom: 2rem;
    border: 5px solid #5cbfda;
    border-radius: 5px;
}

.infoTitle h2 {
    text-align: center;
}

/*css code for Index.cshtml under UniversityEvents view*/
.table uniEventTable th td tr {
    border-collapse: collapse;
    width: 90%;
}

.table th td {
    text-align: left;
    padding: 8px;
}
.table tr:nth-child(even) {
    background-color: #bdebfb;
}

.table th {
    background-color: #5cbfda;
    color: white;
}

.uniEventTitle {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 15px;
    margin-bottom: 2rem;
    background-color: #F4FBFD;
    border: 5px solid #5cbfda;
    border-radius: 5px;
}

/*for images on Index.cshtml, UniversityEvents*/
.column {
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding: 5px;
    box-shadow: 5px 5px 20px #b6b3b3;
    /*for fade in box effect*/
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.column:hover .image {
    opacity: 0.3;
}

.column:hover .middle {
    opacity: 1;
}

.text {
    text-align: center;
    background-color: #ff0000;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/*Autumn's table css code below*/

.table tr {
    background: #D8E9E8;
    border-radius: 50px;
}

.table th:first-child {
    border-top-left-radius: 10px;
}

.table th:last-child {
    border-top-right-radius: 10px;
}

.table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
/*end of Autumn's css code*/