﻿@model IEnumerable<StudentScheduler.Models.MajorRequirement>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="gumbotron">
    <h2>@ViewBag.Title</h2>
    
    @if (User.IsInRole("Administrator") || User.IsInRole("Staff"))
    {
        @Html.ActionLink("Associate New Requirement", "Create", new { id = ViewBag.MajorID }, new { @class = "btn btn-outline-primary" }) <span>&nbsp;&nbsp;</span> @Html.ActionLink("Back to Majors", "Index", "Majors", null, new { @class = "btn btn-outline-primary" })
    }
    else
    {
        @Html.ActionLink("Back to Majors", "Index", "Majors", null, new { @class = "btn btn-outline-primary" })
    }
    
    <table class="table">
        <tr>
            @if (ViewBag.MajorID == null)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Major.School.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Major.Title)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Requirement.RequirementTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requirement.RequirementDescription)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @if (ViewBag.MajorID == null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Major.School.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Major.Title)
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.Requirement.RequirementTitle)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Requirement.RequirementDescription)
                </td>

                <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Staff"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) <span>|</span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    }

                </td>
            </tr>
        }
    </table>
    @Html.ActionLink("Back to Majors", "Index", "Majors", null, new { @class = "btn btn-outline-primary" })
</div>