﻿@model StudentScheduler.Models.ScheduleViewModel
@{
    ViewBag.Title = "Upcoming Events";
}

<div id="dataDiv" data-arg1='@Model.Events'>
    <script src="~/Scripts/customcal.js"></script>
</div>
<div class="gumbotron">
    <div id='fullcalendar'></div>
    <p></p>
    @Html.ActionLink("Back to Info List", "InfoList", "Home", null, new { @class = "btn btn-outline-primary" })
    @Html.ActionLink("Back to Your Schedule", "Index", "UserSchedules", null, new { @class = "btn btn-outline-primary" })
</div>
