﻿@model IEnumerable<StudentScheduler.Models.Requirement>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="gumbotron">
    <h2>@ViewBag.Title</h2>
    <p>
        @if (User.IsInRole("Administrator") || User.IsInRole("Staff"))
        {
            @Html.ActionLink("Create New Requirement", "Create", null, new { @class = "btn btn-outline-primary btn-sm" })
        }
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequirementTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequirementDescription)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequirementTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequirementDescription)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>