﻿@model IEnumerable<StudentScheduler.Models.Major>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gumbotron">
    <h2>@ViewBag.Title</h2>

    @if (User.IsInRole("Administrator") || User.IsInRole("Staff"))
    {
        @Html.ActionLink("Create New Major", "Create", null, new { @class = "btn btn-outline-primary" })
    }
    

    <table class="table">
        <tr>
            @if (ViewBag.SchoolId == null)
            {
                <th>
                    @Html.DisplayNameFor(model => model.School.Title)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MajorRequirements)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @if (ViewBag.SchoolId == null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.School.Title)
                    </td>
                }
                <td>
                    <a href="@Html.DisplayFor(model => item.Href)" target="_blank">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </td>
                <td>
                    @Html.ActionLink("View Requirements", "Index", "MajorRequirements", new { id = item.ID }, null)
                </td>
                <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Staff"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    }

                    @if (User.IsInRole("Staff"))
                    {
                        <span>|</span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    }
                </td>
            </tr>
        }

    </table>
    @Html.ActionLink("Back to Info List", "InfoList", "Home", null, new { @class = "btn btn-outline-primary" })
</div>