﻿@model IEnumerable<StudentScheduler.Models.Cours>

@{
    ViewBag.Title = "Suggested Schedule";
}

<div class="gumbotron">
    <h2>Suggested Schedule</h2>
    <p>
        Not sure what to take next term? Make sure you have your scholastic information entered and we'll help you 
        figure it out.
    </p>
    <p>
        Based on the classes you've already taken and the ones you still need to take, here's a potential collection
        of classes that you need to take for your major that you could take together next term. This may not be your
        only option though, be sure to check out the list of all needed courses offered next term if you'd like a 
        little more control in your scheduling picks.
    </p>
    <p>
        Note that we take your personal schedule into consideration when making this list for you, so if you're not 
        seeing as many classes as you'd hope check to see if you have any conflicts!
    </p>

    @Html.ActionLink("Needed Courses Offered", "NeededCoursesOffered", null, new { @class = "btn btn-outline-primary" })
    <b></b>

    @Html.ActionLink("Back to Info List", "InfoList", "Home", null, new { @class = "btn btn-outline-primary" })
    <p></p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseSubtext)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditCount)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseSubtext)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseStartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseEndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditCount)
                </td>
                <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Staff"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) <span> | </span>
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                    @if (User.IsInRole("Administrator") || User.IsInRole("Staff"))
                    {
                        <span> | </span> @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    }
                    @if (User.IsInRole("Student"))
                    {
                        <span> | </span>
                        if (ViewBag.UserActivities != null)
                        {
                            if (ViewBag.UserActivities.Contains(item.ID))
                            {
                                @Html.ActionLink("Remove", "Remove", new { id = item.ID })
                            }
                            else
                            {
                                @Html.ActionLink("Add", "Add", new { id = item.ID })
                            }
                        }
                        else
                        {
                            @Html.ActionLink("Add", "Add", new { id = item.ID })
                        }

                    }
                </td>
            </tr>
        }
    </table>



</div>

