﻿@model StudentScheduler.Models.Cours

@{
    ViewBag.Title = "Remove";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="gumbotron">
    <h3>Are you sure you want to remove this from your schedule?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Major.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Major.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseSubtext)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseSubtext)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseDays)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseDays)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseStartTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseStartTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseEndTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseEndTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreditCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreditCount)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Remove" class="btn btn-outline-primary" />
                @Html.ActionLink("Back to Courses", "Index", null, new { @class = "btn btn-outline-primary" })
            </div>
        }
    </div>
</div>