﻿body {
    position: relative;
}

.page-header{
    position: absolute;
    top: -40px;
    left: 0px;
    background-color: forestgreen;
    height: 70px;
    width: 100%;
}
.page-header p { 
    display: inline;
    margin-left: 45%;
}

.welcome {
    padding: 2% 10% 2% 10%;
    background-color: darkseagreen;
}

.container {
    height: 500px;
}

.leftCol {
    background-color: forestgreen;
    display: inline-block;
    width: 30%;
    height: 100%;
}

.middleCol {
    background-color: mediumseagreen;
    display: inline-block;
    width: 30%;
    height: 100%;
}

.rightCol {
    background-color: forestgreen;
    display: inline-block;
    width: 30%;
    height: 100%;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
