﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
}

<h2>Progress</h2>

<div class="gumbotron">
    <h2>Index</h2>

    <p>
       <!-- @Html.ActionLink("Create New", "Create") -->
    </p>
    <table class="table">
        <tr>
            <th>
            </th>
            <th>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
        }

    </table>
</div>