﻿@model StudentScheduler.Models.UserSchedule

@{
    ViewBag.Title = "Create Schedule Item";
}

<div class="gumbotron">
    <h2>Create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>User Schedule</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            

            <div class="form-group">
                @Html.LabelFor(model => model.ActivityTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ActivityTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ActivityTitle, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ActivityDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ActivityDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ActivityDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ActivityDays, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ActivityDays, new { htmlAttributes = new { @class = "form-control", placeholder = "Ex: M, W, F or M", required = "required", pattern = "^(((M, )|(T, )|(W, )|(R, )|(F, ))*(M|T|W|R|F))$" } })
                    @Html.ValidationMessageFor(model => model.ActivityDays, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ActivityStartTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ActivityStartTime, new { htmlAttributes = new { @class = "form-control", placeholder = "00:00 Military Time", pattern = "^([0-1][0-9]:[0-5][0-9])|([0-2][0-4]:[0-5][0-9])|([0-9]:[0-5][0-9])$" } })
                    @Html.ValidationMessageFor(model => model.ActivityStartTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ActivityEndTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ActivityEndTime, new { htmlAttributes = new { @class = "form-control", placeholder = "00:00 Military Time", pattern = "^([0-1][0-9]:[0-5][0-9])|([0-2][0-4]:[0-5][0-9])|([0-9]:[0-5][0-9])$" } })
                    @Html.ValidationMessageFor(model => model.ActivityEndTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-outline-primary" />
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-primary" })
                </div>
            </div>
        </div>
    }
</div>