﻿@model StudentScheduler.Models.UserSchedule

@{
    ViewBag.Title = "Schedule Item Details";
}

<div class="gumbotron">
    <h2>Details</h2>

    <div>
        <h4>User Schedule</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.ActivityTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ActivityTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ActivityDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ActivityDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ActivityDays)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ActivityDays)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ActivityStartTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ActivityStartTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ActivityEndTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ActivityEndTime)
            </dd>

        </dl>
    </div>

        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-outline-primary" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-primary" })

</div>