﻿@model IEnumerable<StudentScheduler.Models.UserMajorRequirement>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var wGrid = new WebGrid(Model, rowsPerPage: 200);
}
<div class="gumbotron">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("SetMetReqs", "UserMajorRequirements"))
    {
        @Html.AntiForgeryToken()
        <div id="grid">
            @wGrid.GetHtml(
            tableStyle: "table table-responsive table-striped table-bordered",

            columns: wGrid.Columns(
                wGrid.Column(header: "Requirement Title", format:@<text>@item.Requirement.RequirementTitle</text>),
                                     wGrid.Column(header: "Requirement Description", format:@<text>@item.Requirement.RequirementDescription</text>),
                                                         wGrid.Column(header: "Completed", format:@<text><input class="check-box" name="reqMetChkBox" type="checkbox" value="@item.ID" @(item.ReqMet == true ? "Checked" : null) /></text>)))
        </div>

        <input type="submit" value="Save Changes" class="btn btn-outline-primary btn-sm" /><span>&nbsp; &nbsp;</span>@Html.ActionLink("Cancel", "InfoList", "Home", null, new { @class = "btn btn-outline-primary btn-sm" })
    }
</div>
