﻿@model PagedList.IPagedList<StudentScheduler.Models.ExpandedUserDTO>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Admin Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="gumbotron">

    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-outline-primary" })
    @Html.ActionLink("Edit Roles", "ViewAllRoles", null, new { @class = "btn btn-outline-primary" })
    @Html.ActionLink("Back to Home", "../", "Home", null, new { @class = "btn btn-outline-primary" })
    <p></p>
    @using (Html.BeginForm("Index", "Admin", FormMethod.Get))
    {

        <div class="form-group">
            @Html.TextBox("searchStringUserNameOrEmail", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" class="btn btn-outline-primary"/>
        </div>
    }

    <table class="table">
        <tr>
            <th>
                Email
            </th>
            <th>
                Locked Out
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditUser", new { UserName = item.UserName })
                    @if ((item.UserName.ToLower() != this.User.Identity.Name.ToLower()))
                    {
                        <span>|</span>
                        @Html.ActionLink("Delete", "DeleteUser", new { UserName = item.UserName },
                        new { onclick = "return confirm('Are you sure you wish to delete this user?');" })
                    }
                </td>
            </tr>
        }


    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model,
        page => Url.Action("Index",
        new { page,
            searchStringUserNameOrEmail = ViewBag.searchStringUserNameOrEmail,
            currentFilter = ViewBag.CurrentFilter }))
</div>