﻿@{
    ViewBag.Title = "Yellow Umbrella Corp.";
}
@*<img class="image-header" src="~/Content/YUCpattern3.png" />*@
<div class="infoTitle" style="margin-bottom:0">
    <h2>Hello, we are Yellow Umbrella Corp!</h2>
    <p>
        We are a group of students enrolled in the Computer Science program at Western Oregon University. 
        Through our colaborative efforts and Agile planning, we were able to bring to you the Student Scheduler! 
        Continue reading and get to know each of us a little bit more.
    </p>
</div>
<div class="container" style="margin-top:30px">
    <div class="row" id="members">
        <div class="col-md-5 major35">
            <img class="mx-auto d-block rounded" id="defaultImg" src="~/Content/JoshProfile.jpeg" width="400" height="230" /><br />
            <h2><span><img width="20" src="~/contactPage/images/yuc.png" /></span><i> Joshua Martinez</i></h2>
            <p>
                Future WOU graduate class of 2019 with a Bachelor of Science in Computer Science.<br />
                Hometown: Independence, OR<br />
                *more stuff to be placed here*
            </p>
            <span><img width="20" src="~/Content/checkblack.png" /></span><a href=""> Check out Joshua's Bitbucket</a>
        </div>
        <div class="col-md-5 major35">
            <img class="mx-auto d-block rounded" id="defaultImg" src="~/Content/AutumnProfile.png" width="220" height="300" /><br />
            <h2><span><img width="20" src="~/contactPage/images/yuc.png" /></span><i> Autumn Greenley</i></h2>
            <p>
                Future WOU graduate class of 2019 with a Bachelor of Science in Computer Science.<br />
                Hometown: Albany, OR<br />
                *more stuff to be placed here*
            </p>
            <span><img width="20" src="~/Content/checkblack.png" /></span><a href=""> Check out Autumn's Bitbucket</a>
        </div>
        <div class="col-md-5 major35">
            <img class="mx-auto d-block rounded" id="defaultImg" src="~/Content/SchaeferProfile.jpg" width="220" height="300" /><br />
            <h2><span><img width="20" src="~/contactPage/images/yuc.png" /></span><i> Schaefer Jones</i></a></h2>
            <p>
                Future WOU graduate class of 2020 with a Bachelor of Science in Computer Science in the Honors Program.<br />
                Hometown: Keizer, OR<br />
                *more stuff to be placed here*
            </p>
            <span><img width="20" src="~/Content/checkblack.png" /></span><a href=""> Check out Schaefer's Bitbucket</a>
        </div>
        <div class="col-md-5 major35">
            <img class="mx-auto d-block rounded" id="defaultImg" src="~/Content/LauniaProfile.jpg" width="340" height="230" /><br />
            <h2><span><img width="20" src="~/contactPage/images/yuc.png" /></span><i> Launia Davis</i></a></h2>
            <p>
                Future WOU graduate class of 2019 with a Bachelor of Science in Computer Science and Visual Communications Design.<br />
                Hometown: Meridian, ID<br />
                *more stuff to be placed here*
            </p>
            <span><img width="20" src="~/Content/checkblack.png" /></span><a href=""> Check out Launia's Bitbucket</a>
        </div>
        <div class="col-md-5 major35">
            <img class="mx-auto d-block rounded" id="defaultImg" src="~/Content/bitbucketLogo.png" width="240" height="230" /><br />
            <a href="https://bitbucket.org/seniorProYellow/yellowcorp/src/master/" id="link"><span><img width="20" src="~/contactPage/images/yuc.png" /></span><i> Checkout our Team Bitbucket!</i></a>
            <p>What to know what we did to create this wonderful site? Take a look through out Bitbucket repository!</p>
        </div>
    </div>

    @Html.ActionLink("Back to Home", "../", "Home", null, new { @class = "btn btn-outline-primary" })
</div>