﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @*<img class="image-header" src="~/Content/YUCpattern3.png" />*@
    <div class="infoTitle" style="margin-bottom:0">
        <h2>
            Scheduling classes can be a pain.
        </h2>
        <p>
            Figuring out what classes you need to take can be an even bigger
            pain. Trying to determine what classes you can take at the same time without them overlapping with
            each other or your busy social/work/family life? Even more difficult! Ugh!
        </p>
        <p>
            That's why we're here to help you figure out a better way of scheduling. Just give us the information
            your school provides for you, and we'll do all the busy work. Let us figure out your
            schedule for you, you have better things to do. Like study for your big test or getting that presentation ready.
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5 major36">
                <h2 class="sidebar-head">Get to Scheduling!</h2>
                <p>Before you start, go ahead and <a href="~/Account/Login">sign in</a> to your account. Once you have done that you can start using our resources. 
                   It's time to be in control of your schedule and your life! </p>
                <a class="btn btn-outline-dark" href="~/Home/InfoList">Information Resources &raquo;</a>
            </div>

            <div class="col-md-5 major36">
                <img class="mx-auto d-block rounded" id="campus-image" src="~/Content/campusPhoto.jpg" width="380" height="270" /><br />
            </div>
        </div>
    </div>
</div>