﻿@model IEnumerable<StudentScheduler.Models.ViewModels.CompletionVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<h2>Progress</h2>

<h1 style="color: mediumturquoise;">These are the requirments you have yet to satisfy</h1>
<div class="row overflow-x:auto;">
    <!--This will show up if there are results-->
    @if (ViewBag.toggle == 1)
    {
    <div class="col-md-4">
            <table class="table">
                <tr style="background-color: mediumturquoise">
                    <th>
                        @Html.DisplayNameFor(model => model.Requirements)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreditsRequired)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Subtexts)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ClassesTaken)
                    </th>
                    <th></th>
                </tr>
                <!-- Display actual table information -->
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Requirements)
                        </td>
                        <td>
                            @(item.CreditsRequired - item.CreditsCompleted)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subtexts)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClassesTaken)
                        </td>
                    </tr>
                }

            </table>
    </div>
    }
</div>