﻿@model IEnumerable<discussionHub.Models.Discussion>

@{
    ViewBag.Title = "Discussions";
}

<h2>Discussions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Original Poster
        </th>
        <th>
            Story
        </th>
        <th>
            Posted
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discussionTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discussionDateTime)
        </td>
        <td>
            @Html.ActionLink("Go To Discussion", "Details", new { id=item.discussionID })
        </td>
    </tr>
}

</table>
