@model StudentScheduler.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="gumbotron">
    <h2>@ViewBag.Title.</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Change your account settings</h4>
	@Html.ActionLink("<< Home", "Index", "Home")
        <hr />
        <dl class="dl-horizontal">
        <dt>User Profile:</dt>
        <dd>
            [@Html.ActionLink("Update your user Profile", "UpdateProfile")]
            <br><br>
        </dd>
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>

            <dt>Google Calendar:</dt>
            <dd>
                Your current Google Calendar ID is <b>@Model.Cale</b><br />
                If you'd like to change that, then click the link below.
            </dd>
            <dd>
                [
                @Html.ActionLink("Connect your Google Calendar", "SetCalendar")
                ]
            </dd>

            <!--<dt>Classes:</dt>
            <dd>
                View the classes you're currently signed up for below.
            </dd>
            <dd>
                [
                @Html.ActionLink("View your classes", "ManageClasses")
                ]
            </dd>-->
            <!-- I commented out all the stuff we aren't actively using,
             in the spirit of trying to make things more professional/
             front end friendly. If we end up using two factor
             authentication or external logins feel free to uncomment
             what you need.                                           -->
            <!--<dt>External Logins:</dt>
                <dd>
                    @Model.Logins.Count [
                    @Html.ActionLink("Manage", "ManageLogins") ]
                </dd>
                @*
                Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                 See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                 Uncomment the following block after you have set up two-factor authentication
                *@
                @*
                <dt>Phone Number:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "None")
                    @if (Model.PhoneNumber != null)
                    {
                        <br />
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                        using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                        }
                    }
                    else
                    {
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                    }
                </dd>
                *@
                <dt>Two-Factor Authentication:</dt>
            <dd>
                <p>
                    There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication.
                </p>
                @*@if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Enabled
                            <input type="submit" value="Disable" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Disabled
                            <input type="submit" value="Enable" class="btn btn-link" />
                            </text>
                        }
                    }*@-->
            </dd>
        </dl>
    </div>
</div>