﻿@model StudentScheduler.Models.UpdateProfileViewModel
@{
    ViewBag.Title = "Update User Profile";
}

<h2>@ViewBag.Title.</h2>


@using (Html.BeginForm("UpdateProfile", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Your User Profile</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserFullName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserFullName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        </div>
    </div>
    if (User.IsInRole("Student"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.MajorId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.MajorId, null, "Select Major...", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
    
        <div class="form-group">
            @Html.LabelFor(m => m.GoogleCalendarId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.GoogleCalendarId, new { @class = "form-control" })
            </div>
        </div>
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update Profile" class="btn btn-default" />
        </div>
    </div>
}
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }